.pointer {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-60 {
    margin-bottom: 60px;
}

.heading-primary {
    font-family: "Monument Extended";
    // font-size: 3.4rem;
    font-size: 34px;
    line-height: 150%;
    color: var(--color-secondary);
}

.text {
    // font-size: 2.2rem;
    font-size: 22px;
    line-height: 150%;
    color: var(--color-white);
}

.btn {
    // display: inline-block;
    width: 100%;
    padding: .5rem 1.5rem;
    background-color: var(--color-secondary);
    // font-size: 1.6rem;
    font-size: 2.6rem;
    font-size: 26px;
    line-height: 150%;
    border: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;

    &--store-bg {
        background-image: url(../images/store.png);
        background-position: center;
        background-size: cover;
    }

    &__inner {
        width: 100%;
    }

    &__inner-thin {
        width: 100%;
        max-width: var(--width-inner-mobile);
    }
}

// @media only screen and (min-width: 440px) {
//     .heading-primary {
//         font-size: 2.6rem;
//     }
// }

@media only screen and (min-width: 768px) {
    .btn {
        width: fit-content;
    }

    .container {
        &__inner {
            width: 100%;
            // max-width: var(--width-inner-bg);
            max-width: var(--width-inner-tablet);;
        }

        &__inner-thin {
            width: 100%;
            // max-width: var(--width-inner-sm);
            max-width: var(--width-inner-tablet);;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .heading-primary {
        // font-size: 5.4rem;
        font-size: 54px;
    }

    .text {
        // font-size: 1.8rem;
        font-size: 28px;
    }

    .btn {
        // font-size: 1.6rem;
        font-size: 3.3rem;
        font-size: 33px;
    }

    .container {
        &__inner {
            width: 100%;
            max-width: var(--width-inner-bg);
        }

        &__inner-thin {
            width: 100%;
            max-width: var(--width-inner-sm);
        }
    }
}