.pointer {
    cursor: pointer;
}

.img {
    width: 100%;
    height: auto;
}

.heading-primary {
    font-family: "Monument Extended";
    font-size: 5.4rem;
    line-height: 88px;
    color: var(--color-secondary);
}

.text {
    font-size: 2.5rem;
    line-height: 150%;
    color: var(--color-white);
}

.btn {
    // display: inline-block;
    width: fit-content;
    padding: .5rem 1.5rem;
    background-color: var(--color-secondary);
    font-size: 1.6rem;
    line-height: 150%;
    border: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;

    &--store-bg {
        background-image: url(../images/store.png);
        background-position: center;
        background-size: cover;
    }

    &__inner {
        width: 90%;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        &__inner {
            width: 80%;
        }
    }
}