:root {
    --color-primary: #263137;
    --color-secondary: #FAFF00;
    --color-white: #FFF;
    --color-light-gray: #CACACA;
    --color-gray: #676760;
    // --color-gray2: #74746B;
    --color-black: #070707;

    --width-inner-bg: 1440px;
    --width-inner-sm: 1226px;
    --width-inner-mobile: 311px;
}